/* Fullscreen slideshow container */
.slideshow {
    position: sticky;
    top: 150;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black; /* Optional: background color for better contrast */
  }
  
  .slideshow-image {
    width: 100%;
    height: 550px;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    transition: opacity 1s ease-in-out;
  }
  
  @media only screen and (max-width: 768px) {
    .slideshow-image {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    transition: opacity 1s ease-in-out;
  }
}
  .slideshow-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .slideshow-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .slideshow-dot.active {
    background-color: #fff;
  }
  